.container {
  max-width: 500px;
  margin: 0;
  padding: 0;
  background-color: #3b3835;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-shadow: #bf7b32 1px 0 10px;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.li {
  width: 100%;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e3d7c3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.li:last-child {
  border-bottom: none;
}

.li a {
  color: #e3d7c3;
  text-decoration: none;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.li a:hover {
  text-shadow: #bf7b32 1px 0 10px;
}
